<%- include("../partials/header")%>

    <head>
        <link rel="stylesheet" href="/public/CSS/Forms.css" type="text/css">
    </head>
    <div class="container">
        <div class="global-container">
            <div class="card login-form">
                <div class="card-body">
                    <h3 class="card-title text-center">Log in to the platform</h3>
                    <div class="card-text">
                        <form action="/admin/login" method="POST">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Admin Name</label>
                                <input class="form-control form-control-sm" type="text" name="AdminName" placeholder="Admin name" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input class="form-control form-control-sm" type="password" name="password" placeholder="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Sign in</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%-include("../partials/footer")%>